<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="stylesheets/login.css"/>
  <script src="/views/JS/login.js" type="module" defer></script>
</head>
<body>
  <div class="container">
  <form>
      <div style = "display: flex; justify-content: center;"> 
        <h1>429 Manager Application Log In</h1>
      </div>
      <div style = "margin-top: 10px; margin-bottom: 10px;">
        <label for="uname"><b>Username: </b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password: </b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
      </div>
      <div id = "checkDiv" style = "display: flex; justify-content: center;">
        <label for="professor"><b>Professor: </b></label>
        <input type="checkbox" name="professor"> 
        <label for="student"><b>Student: </b></label>
        <input type="checkbox" name="student">
      </div>
      <div>
        <button type="login">Login</button>
      </div>
      <div>
        <button style = "background-color:rgb(65, 194, 151);   border: 1px solid rgb(90, 190, 157);"type="register">No account? Register Here!</button>
      </div>

  </form>
</div>
</body>
</html>
