<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Page</title>
<link rel="stylesheet" href="/public/stylesheets/registration.css"/>
<script src="javascripts/register.js" type="module" defer></script>
</head>
<body>
  
<div class="container">
  <form>
     <div style = "display: flex; justify-content: center;"> 
        <h1>429 Manager Application Registration</h1>
      </div>
    <label for="username"><b>Username:</b></label>
    <input type="text" id="username"  placeholder="Enter Username (Log-In Username)" name="username" required>

    <label for="password"><b>Password:</b></label>
    <input type="password" id="password"  placeholder="Enter Password" name="password" required>
    
    <label for="fname"><b>First Name:</b></label>
    <input type="text" id="fname"  placeholder="Enter First Name" name="fname" required>
    
    <label for="lname"><b>Last Name:</b></label>
    <input type="text" id="lname"  placeholder="Enter Last Name" name="lname" required>

    <label for="role"><b>Student or Professor?</b></label>
    <select id="role" name="role" required>
      <option value="0">Student</option>
      <option value="1">Professor</option>
    </select>

    <button id = "registerButton" type="submit">Register</button>
  </form>
</div>

</body>
</html>