<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Portal</title>
  <link rel="stylesheet" href="/stylesheets/studentPortal.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/javascripts/studentPortal.js" type="module" defer></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <img src = "home.png" style="max-width: 100%; max-height: 100%;"></a>
      </div>
      <ul class="nav navbar-nav">
        <li class = "navBarItem"><a href="#" onclick = "newApplication(event)">New Application</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
          <span class="glyphicon glyphicon-user"></span>
          <span id = "studentname"> "Student Name"</span>
        </a></li>

        <li><a href="#" id="signoutbutton" onclick="signOutFunc"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="sections" style="margin-top:50px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Section </th>
                <th scope="col">Time</th>
                <th scope="col">Professor</th>
                <th scope="col">Status</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody id = "body">
        </tbody>
        <!-- <tbody>
            <tr>
                <th scope ="row"> 01 </th>
                <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
                <td> Matthew Rattigan</td>
                <td id="status-01"> Pending </td>
                <td> mrattigan@umass.edu </td>
            </tr>
            <tr>
                <th scope = "row"> 02 </th>
                <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
                <td> Matthew Rattigan</td>
                <td id="status-02"> Accepted </td>
                <td> mrattigan@umass.edu </td>
            </tr>
            <tr>
              <th scope = "row"> 03 </th>
              <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
              <td> Matthew Rattigan</td>
              <td id="status-03"> Accepted </td>
              <td> mrattigan@umass.edu </td>
            </tr>
            <tr>
              <th scope = "row"> 04 </th>
              <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
              <td> Matthew Rattigan</td>
              <td id="status-04"> Rejected </td>
              <td> mrattigan@umass.edu </td>
          </tr>
        </tbody> -->
    </table>
    <div class="popup">
      <span class = "popuptxt" id = "test"> If any changes needs to be made, please resubmit a new application using the "New Application" button</span>
    </div>
    
  </div>

  <div>
    <button id= "help" type="button" class= "button" onclick="helpButton()" value = "0">
        <span class = "button__icon">
            <ion-icon name="help-circle-outline"></ion-icon>
        </span>
    </button>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    function helpButton(){
      // var button = document.getElementById("help");
      // if(button.value == "0"){
      //   document.getElementById("test").innerHTML = "This is help incase you need instructions:";
      //   button.value = "1";
      // }
      // else{
      //   button.value = "0";
      //   document.getElementById("test").innerHTML = "";
      // }
      var popup = document.getElementById("test");
      popup.classList.toggle("show");
    }
    // function populateStatus(){
    //   var status1 = document.getElementById("status-01");
    //   var status2 = document.getElementById("status-02");
    //   var status3 = document.getElementById("status-03");
    //   var status4 = document.getElementById("status-04");
    //   //api to get status of section 1
    //   status1.innerHTML = getStatus(section1);
    // }
  </script>
</body>
</html>