<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Portal</title>
  <link rel="stylesheet" href="studentPortal.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <img src = "home.png" style="max-width: 100%; max-height: 100%;"></a>
      </div>
      <ul class="nav navbar-nav">
        <li class = "navBarItem"><a href="#">New Application</a></li>
        <li class = "navBarItem"><a href="#">Edit Application</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> "Student Name"</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="sections" style="margin-top:50px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Section </th>
                <th scope="col">Time</th>
                <th scope="col">Professor</th>
                <th scope="col">Status</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope ="row"> 01 </th>
                <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
                <td> Matthew Rattigan</td>
                <td> Action Required </td>
                <td> mrattigan@umass.edu </td>
            </tr>
            <tr>
                <th scope = "row"> 02 </th>
                <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
                <td> Matthew Rattigan</td>
                <td> Action Required </td>
                <td> mrattigan@umass.edu </td>
            </tr>
            <tr>
              <th scope = "row"> 03 </th>
              <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
              <td> Matthew Rattigan</td>
              <td> Action Required </td>
              <td> mrattigan@umass.edu </td>
            </tr>
            <tr>
              <th scope = "row"> 04 </th>
              <td> LEC: T/Th 2:30 - 3:45pm; DIS: W 10:00 - 11:00am</td>
              <td> Matthew Rattigan</td>
              <td> Action Required </td>
              <td> mrattigan@umass.edu </td>
          </tr>
        </tbody>
    </table>
    <p id="test"></p>
    
  </div>

  <div>
    <button type="button" class= "button" onclick="helpButton()">
        <span class = "button__icon">
            <ion-icon name="help-circle-outline"></ion-icon>
        </span>
    </button>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    function helpButton(){
      document.getElementById("test").innerHTML = "This is help incase you need instructions:";
    }
  </script>
</body>
</html>